.gameItem {
    width: 414px;
    height: 257px;
    display: flex;
    justify-content: center;
    &__link {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
    &__container {
        width: 349px;
        height: 220px;
        background-color: #282831;

    }
}