.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
   
    @media only screen and (min-width: 830px)  {
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 auto;
        padding-left: 48px;
    }

    @media only screen and (min-width: 1237px)  {
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 auto;
        padding-left: 48px;
        max-width: 100%;
   
    }

}